<!--
    Agora Forum Software
    Copyright (C) 2016 Gregory Sartucci
    License: AGPL-3.0, Check file LICENSE
-->

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
</head>

<template name="forbidden">
    <h1>You are banned from the site</h1>
</template>

<template name="layout">
    <div>
        <!-- Always shows a header, even in smaller screens. -->
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <!-- Add spacer, to align navigation to the right -->
                    <div class="mdl-layout-spacer"></div>

                    {{#if currentUser }}
                        <a class="mdl-navigation__link" href="/home">Home</a>
                    {{/if }}

                    <a class="mdl-navigation__link" href="/">Recent Posts</a>
                    <a class="mdl-navigation__link" href="/federation">Federation</a>

                    {{#if isInRole 'moderator'}}
                        <a class="mdl-navigation__link" href="/admin">Admin</a>
                    {{/if}}

                    {{#if currentUser }}
                        <a class="mdl-navigation__link" href="/user" >Profile</a>
                    {{/if }}

                    <a class="mdl-navigation__link" href="/sign-in">{{> atNavButton }}</a>
                </div>
            </header>
            <div class="mdl-layout__drawer">

                <span class="mdl-layout-title">Agora Project</span>
                <nav class="mdl-navigation">
                    {{#if isInRole 'moderator'}}
                        <a class="mdl-navigation__link" href="/users">Users</a>
                    {{/if }}

                    {{#if currentUser }}
                        <a class="mdl-navigation__link" href="/change-password">Change password</a>
                    {{/if }}
                </nav>
            </div>
            <main class="mdl-layout__content">
            <div class="page-content">
                <!-- Your content goes here -->
                {{> yield}}
            </div>
            </main>
        </div>
    </div>
</template>
