<!--
    Agora Forum Software
    Copyright (C) 2018 Gregory Sartucci
    License: AGPL-3.0, Check file LICENSE
-->

<template name="mainDetailedPost">
    <div class="main-detailed-post" id="main-detailed-post-{{_id}}">
        <div class="main-detailed-post-flex">
            {{#if summary}}
                <div class="main-detailed-post-summary">{{summary}}</div>
            {{/if}}
            <button class="main-detailed-post-close-button">Close</button>
            <div class="main-detailed-post-info">
                {{#if actor}}
                    <a class="main-detailed-post-avatar" href="{{actor.url}}">
                        {{> avatar size="small" shape="rounded" initials=(initials)}}
                    </a>
                    <a class="main-detailed-post-username" href="{{actor.url}}">
                        {{actor.name}}
                    </a>
                {{/if}}
                <span class="main-detailed-post-age">
                    <a href="/forum?post={{_id}}">
                        {{age}}
                    </a>
                </span>
                <div class="main-detailed-post-seen tooltip">
                    {{#if seen}}
                        &#128065;
                        <span class="tooltiptext">Seen</span>
                    {{else}}
                        &#128269;
                        <span class="tooltiptext">Unseen</span>
                    {{/if}}
                </div>
            </div>
            <div class="main-detailed-post-content">
                {{{content}}}
            </div>
            <div class="main-detailed-post-footer">
                {{#if currentUser}}
                    {{#if verifiedUser}}
                        {{#if hasReplyButtons}}

                            {{#if editAccess}}
                                <button class="main-detailed-post-edit-button">Edit</button>
                                <button class="main-detailed-post-delete-button">Delete</button>
                            {{/if}}

                            <button class="main-detailed-post-reply-button">Reply</button>
                        {{/if}}
                    {{/if}}
                {{/if}}
                {{#if hasLoadButton}}
                    <div class="dropdown">
                        <button class="main-detailed-post-dropbtn">Load</button>
                        <div id="main-basic-post-dropdown-{{_id}}" class="main-detailed-post-dropdown-content">
                            <button class="main-detailed-post-load-button">Load Adjacent</button>
                            <button class="main-detailed-post-recursive-load-button">Recursive Load</button>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
        <i class="main-detailed-post-spinner fa fa-refresh" aria-hidden="true"></i>
    </div>
</template>

<template name="mainBasicPost">
    <div class="main-basic-post" id="main-basic-post-{{_id}}">
        <div class="main-basic-post-flex">
            {{#if actor}}
                <div class="main-basic-post-info">
                        <a class="main-basic-post-avatar" href="{{actor.url}}">
                            {{> avatar size="extra-small" shape="rounded" initials=(initials)}}
                        </a>
                </div>
            {{/if}}
            {{preview}}

            <div class="main-basic-post-seen tooltip">
                {{#if seen}}
                    &#128065;
                    <span class="tooltiptext">Seen</span>
                {{else}}
                    &#128269;
                    <span class="tooltiptext">Unseen</span>
                {{/if}}
            </div>
        </div>
        <i class="main-basic-post-spinner fa fa-refresh" aria-hidden="true"></i>
    </div>
</template>

<template name="mainFloatingProfile">
    <div class="main-floating-profile-centerer">
        <div class="main-floating-profile-div">
            <button class="main-floating-profile-close-button">Close</button>
            {{> userProfile id=id floating=true}}
        </div>
    </div>
</template>
